numpy==1.15
Django==1.11.4
gensim==3.5.0
jieba==0.39

EasyLearning课程搜索与智能推荐插件

30209-8400

V1.0
2018-12-01
CPU P4以上，内存1G以上；

Linux Kernel版本2.6以上 或 其他类UNIX系统，本手册推荐使用Ubuntu 16.04 服务器版作为系统；
通用LMS系统，本手册推荐使用Moodle作为LMS系统；
Python 2.7及以上；
Django 1.11；
Numpy 1.15；
Gensim 3.5；
Jieba 0.39；

Python


5232

采用机器学习方法来实现对学生课程的智能化管理，主要是针对学生个人的课程个性化推荐以及学生搜索课程时候的语义化搜索。
插件能够较好的与现有的学习系统进行整合，通过访问学习系统内部的学习记录数据，能够较好的提供课程搜索以及智能推荐功能

西南大学
北碚
12100000450401733W

赛尔网络有限公司
海淀
911101087226182167


西南大学
重庆市北碚区天生路2号西南大学25教1010
400715
许枭飞
023-68253991
xxfwin@vip.qq.com
18883369802